.App{
    font-family: 'Montserrat', serif;
    background-color: #ecf0f1;
    height: 100vh;
}
.nav-bar{
background-color: #0a1612;
height: 40px;
padding-top:20px;

}
.nav-button{
    color: white;
    vertical-align: middle;
    padding:20px;

}

.active{
    background-color: slategray;
}

input{
    background-color: #ecf0f1;  
    border: none;
    border-bottom: 1px solid slategray
}

select{
    background-color: #ecf0f1;  
    /* border: none; */
    border-bottom: 1px solid slategray;
    font-family: 'Montserrat', serif;
}

#home{
  font-weight: bold;
  text-align: center;
  margin: 40px;
}
